<script src="jquery.js"></script>
<script type="text/javascript" src="../scripts/placement.js"></script>

<div class="wholeMenu">
    <div class="outerSpin">
    <div class="wrapper fir">
        <div class="inner first"></div>
    </div>
    <div class="wrapper2 fir">
        <div class="inner2 first"></div>
    </div>
    <div class="wrapper3 fir">
        <div class="inner3 first"></div>
    </div>
    </div>
    
    <div class="outerSpin2">
        <div class="wrapper sec">
            <div class="inner second"></div>
        </div>
        <div class="wrapper2 sec">
            <div class="inner2 second"></div>
        </div>
        <div class="wrapper3 sec">
            <div class="inner3 second"></div>
        </div>
    </div> 
    <div class="outerSpin3">
        <div class="wrapper thr">
            <div class="inner third"></div>
            
        </div>
        <div class="wrapper2 thr">
            <div class="inner2 third"></div>
        </div>
        <div class="wrapper3 thr">
            <div class="inner3 third"></div>
        </div>
     </div>
</div>